[submodule "assets/easy-bootstrap"]
	path = assets/easy-bootstrap
	url = https://github.com/nikolays93/easy-bootstrap.git
[submodule "assets/jquery.data-actions"]
	path = assets/jquery.data-actions
	url = https://github.com/nikolays93/jquery.data-actions.git
