@mixin no-underline {
	&,&:hover,&:focus{
		text-decoration: none;
	}
}
@mixin remove-number-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@mixin placeholder-color($color){
    &::-webkit-input-placeholder {color:$color;}
    &::-moz-placeholder          {color:$color;}/* Firefox 19+ */
    &:-moz-placeholder           {color:$color;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:$color;}
}
@mixin clear-list($padding){
	list-style: none;
	padding-left: $padding;
}
@mixin box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
  @if ($inset != "") {
    -webkit-box-shadow: $inset $x $y $blur $color; 
    box-shadow: $inset $x $y $blur $color;
  } @else {
    -webkit-box-shadow: $x $y $blur $color; 
    box-shadow: $x $y $blur $color;
  }
}
@mixin linear-gradient($direction, $colors...) {
  @if $direction == 'ltr' { $direction:  90deg; }
  @if $direction == 'rtl' { $direction: -90deg; }
  @if $direction == 'ttb' { $direction:  180deg; }
  @if $direction == 'btt' { $direction: -180deg; }
  background-image: -o-linear-gradient($direction, $colors); 
  background-image: -moz-linear-gradient($direction, $colors); 
  background-image: -webkit-linear-gradient($direction, $colors); 
  background-image: linear-gradient($direction, $colors); 
}
// .sticky-wrapper.is-sticky>div { opacity: 0.8; }
// .sticky-wrapper.is-sticky>div:hover { opacity: 1; }
// .sticky-wrapper>div { opacity: 1;transition: 0.5s ease;}

// /* Alignments (WP required) */
.alignleft, .al {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright, .ar {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter, .ac {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// bootstrap custom modal 
.custom.modal .close {
  right: 5px;
  top: 5px;
  width: 20px;
  position: absolute;
  z-index: 55;
}

.content {
  min-height: 450px;
  .media-body { max-width: 100%; }
  h1,h2,h3,h4,h5,h6 {
    color: $brand-primary;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

img { max-width: 100%; height: auto; }
img.full { max-width: auto !important; }
.round { overflow: hidden; border-radius: 50%; }

.clear-list { @include clear-list('40px'); }
ul.row { @include clear-list(0); }
.hidden { display: none; }
.fll { float: left; }
.flr { float: right; }
.mt0  { margin-top:     0px !important; }
.mt10 { margin-top:    10px !important; }
.mt20 { margin-top:    20px !important; }
.mb0  { margin-bottom:  0px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.two-columns { columns: 2; }

input[type="number"]{
  width: 80px;
  padding: 4px;
  padding-left: 10px;
  line-height: 26px;
}

// 5 columns on row
.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-2-4 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-2-4 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-2-4 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-2-4 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px){
  // small containers
  .sm {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }
  .sm.left {
    padding-left: 0px !important;
    padding-right: 180px !important;
  }
  .sm.right {
    padding-left: 180px !important;
    padding-right: 0px !important;
  }
}