@mixin no-underline {
	&,&:hover,&:focus{
		text-decoration: none;
	}
}
@mixin remove-number-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@mixin placeholder-color($color){
    &::-webkit-input-placeholder {color:$color;}
    &::-moz-placeholder          {color:$color;}/* Firefox 19+ */
    &:-moz-placeholder           {color:$color;}/* Firefox 18- */
    &:-ms-input-placeholder      {color:$color;}
}
@mixin clear-list($padding){
	list-style: none;
	padding-left: $padding;
}
@mixin transparent-sticky(){
	.sticky-wrapper.is-sticky>div { opacity: 0.8; }
	.sticky-wrapper.is-sticky>div:hover { opacity: 1; }
	.sticky-wrapper>div { opacity: 1;transition: 0.5s ease;}
}

// .archive-header {
// 	color: $archive_header_color;
// 	a {
// 		color: $archive_header_color;
//     text-decoration: none;
// 	}
// 	@include hover-focus {
// 		color: $archive_header_hover_color;
//     text-decoration: none;
// 	}
// }
// .entry-header {
//   color: $entry_header_color;
//   a {
//     color: $entry_header_color;
//     text-decoration: none;
//   }
//   @include hover-focus {
//     color: $entry_header_hover_color;
//     text-decoration: none;
//   }
// }
// .entry-content {
//   h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
//     color: $brand-primary;
//     margin-top: 20px;
//     margin-bottom: 10px;
//   }
// }

img { max-width: 100%; height: auto; }
img.full { max-width: auto !important; }

.fll { float: left; }
.flr { float: right; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }
.hidden { display: none; }

/* Alignments (WP required) */
.alignleft, .al {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright, .ar {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter, .ac {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// 5 columns on row
.col-2-4,
.col-sm-2-4,
.col-md-2-4,
.col-lg-2-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-2-4 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
	.col-sm-2-4 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-2-4 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-2-4 {
		width: 20%;
		float: left;
	}
}